<div class="container-fluid">

    <!-- LOGIN -->
    <!-- show when not logged in -->
    <div class="row-fluid" ng-show="!loggedIn">

        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">

            <form class="form-signin" role="form"
                  ng-submit="submit(password)">
                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="email" class="form-control" placeholder="Email address" ng-model="user.email" required autofocus>
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>

            <div ng-show="err" class="alert alert-danger"><strong>{{err}}</strong></div>
        </div>

    </div>


    <!-- CASE STUDIES-->

    <div class="row-fluid" ng-show="loggedIn">
        <!--<h3>user:{{user.email}}</h3>-->
        <!--<h3>security: {{securitylevel}}</h3>-->
        <!--<hr>-->
        <!--<h1>{{theCaseStudies.name}}</h1>-->
        <!--<hr>-->
        <div class="col-xs-12">


            <div class="item" ng-repeat="study in theCaseStudies.studies" ng-show="securitylevel>study.level">
                <h1>{{study.name}}</h1>
                <img class="img-responsive center-block "src="{{study.image}}"/>
                <h2>{{study.client}}</h2>
                <h4>security level: {{study.level}}</h4>
                <p>{{study.description}}</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                        <div class="alert alert-warning" role="alert"><h4>{{study.nominations}} Nominations. <br/>{{study.rating}} Awards.</h4> </div>


                         <div class="alert alert-success">
                            <p>Download a PDF of the case study including BA and full analytics of the campaign!</p>
                            <a href={{study.download}}></a><button class="btn btn-danger">Download</button></a>
                         </div>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> <ul>
                        <h4>THE TEAM:</h4>
                        <li ng-repeat="team in study.team"><b>{{team.name}}</b>, <i>{{team.position}}</i></li>
                    </ul>

                    </div>




                 </div>



                <!--<div class="flex-video widescreen"><iframe id="player_1" src="{{study.vimeo}}" frameborder="0" allowfullscreen=""></iframe></div>-->
            </div>


         </div>
    </div>



       <!-- LOGOUT TEMP -->

    <div class="row-fluid" ng-show="loggedIn">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">

            <form class="form-logout" role="form"
                  ng-submit="logout()">
                <button class="btn btn-lg btn-danger btn-block" type="submit" ng-submit="logout()">Logout</button>
            </form>

        </div>
    </div>


</div> <!-- end container -->

